[submodule "home/.vimperator/vimperator-plugins.git"]
	path = home/.vimperator/vimperator-plugins.git
	url = https://github.com/vimpr/vimperator-plugins.git
[submodule "home/.vim/bundle/neobundle.vim"]
	path = home/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim.git
